/* General and Font */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Styling */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('D:/ACADEMICS/webdev/srm-institute-website/client/public/images/bannerSRM2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Navigation Styling */
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #f44336;
    font-size: 15px;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #f44336;
    text-decoration: underline;
    transition: 0.5s;
}

/* Mobile Menu Icons */
nav .fa {
    display: none;
}

/* Text Box Styling */
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
    margin-top: 120px;
}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 14px;
}

.hero-btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 30px;
    }

    .text-box p {
        font-size: 12px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200%;
        text-align: left;
        z-index: 2;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}
